#logo {
	background-color: #9370DB;
	border-top: #778899 inset 4px;
	border-left: #778899 inset 4px;
	border-right: #778899 inset 4px;	
	text-decoration: none;
	
	
}

#About {
	float: left;
	width: 550px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px;
	background-color: #A9A9A9;
	text-align: justify;
	line-height: 1.5;
	border: #778899 inset 4px;
	
} 

#connect {
	float: right;
	width: 250px;
	background-color: #A9A9A9;
	padding: 20px 40px 40px 20px;
	margin: 10px 10px 10px 10px;
	text-align: center;
	font-size: 20px;
	border: #778899 inset 4px;
	
}

a {
	padding: 10px;
}

#image {
	float: left;
	border: 3px solid #666; 
	margin: 10px;
}

#wrap {
	width: 960px;
	margin: 0 auto;
}

nav { 
	display: inline;
	float: right;
}

#header {
	width: 100%;
	background-color: #C0C0C0;
	position: fixed;
	padding:15px;
	margin-right: 10px;

}

#main-container {
	padding-top: 125px;
}

#logo {
	font-size: 60px;
}

#spacing {
	padding-top:150px
}

#formbox {
	background: #A9A9A9;
	width: 550px;
}

p {
	text-indent: 25px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #9370DB;
	width: 100%;
	margin-bottom:15px;
	opacity: .25;
}

body {
	background-image:url(https://tinyurl.com/ycu6l2n9)
}

.button {
	background: #696969;
	font-size:24px;
	float: bottom;
	border: 5px #9370DB inset;
	text-decoration: none;
}

.galleryL {
	float: left;
	margin: 10px 0px}

.galleryR {
	float: right;
	margin: 10x 0px
}

input[type=text], select, textarea {
    width: 550px;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
	resize: vertical;
	float: left;
}


input[type=submit] {
    background-color: #9370DB;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #9370DB;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
	padding: 100px;
}