#db {
	background-color: #9370DB;
	margin
}

#About {
	float: left;
	width: 550px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px;
	background-color: #A9A9A9;
	text-align: justify;
	line-height: 1.5;
} 
#connect {
	float: right;
	width: 250px;
	background-color: #A9A9A9;
	padding: 20px 40px 40px 20px;
	margin: 10px 10px 10px 10px;
	text-align: center;

}

#image {
	float: left;
	border: 3px solid #666; 
	margin: 10px;
}

#wrap {
	width: 960px;
	margin: 0 auto;
}

nav { 
	display: inline;
	float: right;
}

#header {
	width: 100%;
	background-color: white;
	position: fixed;
	overflow: auto;
}

#main-container {
	padding-top: 125px;
}

#logo {
	font-size: 60px;
}